<div class="wrapper">
    <!--header-->
    <div ng-include="'assets/views/appheader.html'"></div>
    <!--/header-->
    <!--breadcrumps-->
    <!--/breadcrumps-->
    <div class="container content">
        <div ui-view></div>
    </div>


    <div ng-include="'assets/views/footer.html'"></div>

</div>