<!--=== Header ===-->
<div class="header" ng-controller="HeaderController">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="index.html">
            <img src="assets/img/logo1-default.png" alt="Logo">
        </a>
        <!-- End Logo -->

        <!-- Topbar -->
        <div class="topbar">
            <ul class="loginbar pull-right">
                <li class="hoverSelector">
                    <i class="fa fa-globe"></i>
                    <a>Languages</a>
                    <ul class="languages hoverSelectorBlock">
                        <li class="active">
                            <a href="#">English <i class="fa fa-check"></i></a>
                        </li>
                        <li><a href="#">Spanish</a></li>
                        <li><a href="#">Russian</a></li>
                        <li><a href="#">German</a></li>
                    </ul>
                </li>
                <li class="topbar-devider"></li>
                <li><a href="page_faq.html">Help</a></li>
                <li class="topbar-devider"></li>
                <li><a ng-click="doLogout()">Logout</a></li>
            </ul>
        </div>
        <!-- End Topbar -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Home -->
                <li class="dropdown active">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Home
                    </a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="index.html">Option 1: Default Page</a></li>

                        <!-- One Page -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">Option 2: One Page</a>
                            <ul class="dropdown-menu">

                            </ul>
                        </li>
                        <!-- End One Page -->

                        <!-- Shop UI Page -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">Option 3: Shop UI</a>
                            <ul class="dropdown-menu">

                            </ul>
                        </li>
                        <!-- End Shop UI -->

                        <!-- Blog Template -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">Option 4: Blog Template</a>
                            <ul class="dropdown-menu">
                                <li><a target="_blank" href="Blog-Magazine/index.html">- Home Page</a></li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">- Blog Page Layouts</a>
                                    <ul class="dropdown-menu">

                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">- Blog Post Layouts</a>
                                    <ul class="dropdown-menu">

                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">- Grid Layouts</a>
                                    <ul class="dropdown-menu">

                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <!-- End Blog Template -->


                    </ul>
                </li>
                <!-- End Home -->

                <!-- Pages -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Pages
                    </a>
                    <ul class="dropdown-menu">
                        <!-- About Pages -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">About Pages</a>
                            <ul class="dropdown-menu">

                                <li><a href="page_about_our_team2.html">About Our Team 2</a></li>
                            </ul>
                        </li>
                        <!-- End About Pages -->

                        <!-- Service Pages -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">Service Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="page_services.html">Our Services</a></li>

                            </ul>
                        </li>
                        <!-- End Service Pages -->

                        <!-- Contacts -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Contact Pages
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="page_contact1.html">Contacts Default</a></li>
                                <li><a href="page_contact2.html">Contacts Option 1</a></li>
                                <li><a href="page_contact3.html">Contacts Option 2</a></li>
                                <li><a href="page_contact4.html">Contacts Option 3</a></li>
                                <li><a href="page_contact_advanced.php">Contacts Advanced</a></li>
                            </ul>
                        </li>
                        <!-- End Contacts -->

                        <!-- Profile Pages -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">Profile Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="page_profile.html">Profile Main Page</a></li>

                            </ul>
                        </li>
                        <!-- End Profile Pages -->

                        <!-- Job Pages -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">Job Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="page_jobs.html">Jobs Main Page</a></li>

                            </ul>
                        </li>
                        <!-- End Job Pages -->

                        <!-- Pricing Tables -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">Pricing Tables</a>
                            <ul class="dropdown-menu">
                                <li><a href="page_pricing_colorful.html">Colorful Pricing Tables</a></li>

                            </ul>
                        </li>
                        <!-- End Pricing Tables -->

                        <!-- Login and Registration -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">Login and Registration</a>
                            <ul class="dropdown-menu">
                                <li><a href="page_registration.html">Registration Page</a></li>

                            </ul>
                        </li>
                        <!-- End Login and Registration -->

                        <!-- FAQs Pages -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">FAQs Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="page_faq1.html">FAQs Page</a></li>
                                <li><a href="page_faq.html">FAQs Basic</a></li>
                            </ul>
                        </li>
                        <!-- End FAQs Pages -->

                        <!-- Email Tempaltes -->
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0);">Email Templates</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Email Corporate</a>
                                    <ul class="dropdown-menu">
                                        <li><a target="_blank" href="Email-Templates/corporate/email_corporate_aqua.html">Corporate Aqua Color</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Email Flat</a>
                                    <ul class="dropdown-menu">
                                        <li><a target="_blank" href="Email-Templates/flat/email_flat_aqua.html">Flat Aqua Color</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Email Modern</a>
                                    <ul class="dropdown-menu">
                                        <li><a target="_blank" href="Email-Templates/modern/email_modern_aqua.html">Modern Aqua Color</a></li>

                                        </li>
                                    </ul>
                                </li>
                                <!-- End Email Tempaltes -->

                                <!-- Search Results -->
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Search Results</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="page_search_inner_full_width.html">Search Results Full Width</a></li>

                                    </ul>
                                </li>
                                <!-- End Search Results -->

                                <!-- Coming Soon -->
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Coming Soon Pages</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="page_coming_soon.html">Coming Soon</a></li>

                                    </ul>
                                </li>
                                <!-- End Coming Soon -->

                                <!-- Error Pages -->
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Error Pages</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="page_404_error.html">404 Error Default</a></li>

                                    </ul>
                                </li>
                                <!-- End Error Pages -->

                                <!-- Invoice Page -->
                                <li><a href="page_invoice.html">Invoice Page</a></li>
                                <!-- End Invoice Page -->

                                <!-- Clients Page -->
                                <li><a href="page_clients.html">Clients Page</a></li>
                                <!-- End Clients Page -->

                                <!-- Column Pages -->
                                <li><a href="page_3_columns.html">Three Columns Page</a></li>
                                <!-- End Column Pages -->

                                <!-- Privacy Policy -->
                                <li><a href="page_privacy.html">Privacy Policy</a></li>
                                <!-- End Privacy Policy -->

                                <!-- Terms of Service -->
                                <li><a href="page_terms.html">Terms of Service</a></li>
                                <!-- End Terms of Service -->

                                <!-- Misc Pages -->
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Misc</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="page_misc_blank.html">Blank page</a></li>

                                    </ul>
                                </li>
                                <!-- End Misc Pages -->

                                <!-- Sub Level Menu -->
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Sub Level 1</a>
                                    <ul class="dropdown-menu no-bottom-space">
                                        <li><a href="index.hmtl">Sub Level 2</a></li>
                                        <li class="dropdown-submenu">
                                            <a href="javascript:void(0);">Sub Level 2</a>
                                            <ul class="dropdown-menu">

                                            </ul>
                                        </li>
                                        <li><a href="index.hmtl">Sub Level 2</a></li>
                                        <li class="dropdown-submenu">
                                            <a href="javascript:void(0);">Sub Level 2</a>
                                            <ul class="dropdown-menu no-bottom-space">

                                                <li><a href="index.hmtl">Sub Level 3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- End Sub Level Menu -->
                            </ul>
                        </li>
                        <!-- End Pages -->

                        <!-- Blog -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Blog
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Blog Large Image</a>
                                    <ul class="dropdown-menu">

                                        <li><a href="blog_large_full_width1.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Blog Medium Image</a>
                                    <ul class="dropdown-menu">

                                        <li><a href="blog_medium_full_width1.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Blog Item Pages</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="blog_large_right_sidebar_item1.html">Right Sidebar Item</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Blog Simple Pages</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="blog_large_right_sidebar.html">Right Sidebar Large</a></li>

                                    </ul>
                                </li>
                                <li><a href="blog_masonry_3col.html">Masonry Grid Blog</a></li>
                                <li><a href="blog_timeline.html">Blog Timeline</a></li>
                            </ul>
                        </li>
                        <!-- End Blog -->

                        <!-- Portfolio -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">No Space Boxed</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="portfolio_2_columns_grid_no_space.html">2 Columns</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Grid Boxed</a>
                                    <ul class="dropdown-menu">

                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Grid Text Boxed</a>
                                    <ul class="dropdown-menu">

                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">No Space Full Width</a>
                                    <ul class="dropdown-menu">

                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Grid Full Width</a>
                                    <ul class="dropdown-menu">

                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Grid Text Full Width</a>
                                    <ul class="dropdown-menu">

                                        <li><a href="portfolio_6_columns_fullwidth_text.html">6 Columns</a></li>
                                    </ul>
                                </li>
                                <li><a href="portfolio_hover_colors.html">Portfolio Hover Colors</a></li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Portfolio Items</a>
                                    <ul class="dropdown-menu">

                                        <li><a href="portfolio_old_item1.html">Basic Item 2</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Portfolio Basic Pages</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="portfolio_old_text_blocks.html">Basic Grid Text</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- End Portfolio -->

                        <!-- Features -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Features
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Headers</a>
                                    <ul class="dropdown-menu">

                                        <li><a href="feature_header_v8.html">Header v8</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Footers</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="feature_footer_default.html#footer-default">Footer Default</a></li>

                                    </ul>
                                </li>
                                <li><a href="feature_gallery.html">Gallery Examples</a></li>
                                <li><a href="feature_animations.html">Animations on Scroll</a></li>

                            </ul>
                        </li>
                        <!-- End Features -->

                        <!-- Shortcodes -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Shortcodes
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content disable-icons">
                                        <div class="container">
                                            <div class="row equal-height">
                                                <div class="col-md-3 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li><h3>Typography &amp; Components</h3></li>

                                                        <!-- Typography -->
                                                        <li><a href="shortcode_typo_general.html"><i class="fa fa-sort-alpha-asc"></i> General Typography</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li><h3>Buttons &amp; Icons</h3></li>

                                                        <!-- End Icons -->
                                                    </ul>
                                                </div>
                                                <div class="col-md-3 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li><h3>Common elements</h3></li>

                                                        <!-- End Common Elements -->
                                                    </ul>
                                                </div>
                                                <div class="col-md-3 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li><h3>Forms &amp; Infographics</h3></li>

                                                        <!-- End Infographics -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- End Shortcodes -->

                        <!-- Demo Pages -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Demos
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="One-Pages/Architecture/index.html">Architecture</a></li>

                            </ul>
                        </li>
                        <!-- End Demo Pages -->

                        <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search">
									<span class="input-group-btn">
										<button class="btn-u" type="button">Go</button>
									</span>
                                </div>
                            </div>
                        </li>
                        <!-- End Search Block -->
                    </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->