<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <form class="reg-page">
            <div class="reg-header">
                <h2>Create User</h2>
            </div>
            
			<div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" ng-model="name" placeholder="Name" class="form-control">
            </div>
            
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" ng-model="password" placeholder="Password" class="form-control">
            </div>
            
			<div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="icon-append fa fa-envelope"></i></span>
                <input type="text" ng-model="email" placeholder="Email" class="form-control">
            </div>
            
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" ng-model="fathername" placeholder="Father's Name" class="form-control">
            </div>
            
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" ng-model="mothername" placeholder="Mother's Name" class="form-control">
            </div>
            
          <!--   <div class="input-group margin-bottom-20">
				<button ng-model="type" class="btn btn-u rounded btn-u-purple" type="button">Male</button>
				<button ng-model="type" class="btn btn-u rounded btn-u-red" type="button">Female</button>
			</div>
			 -->
			 
			 <div>
				 <input type="radio" name="gender" value="male" checked> Male
  				<input type="radio" name="gender" value="female"> Female
			 </div>
			 <br>
			<div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="icon-prepend fa fa-phone"></i></span>
                <input type="number" ng-model="mobileNum" placeholder="Mobile No." class="form-control">
            </div>
			
			 <div class="input-group margin-bottom-20">
                <input type="text" ng-model="address_line1" style="width: 360" placeholder="Address Line1" class="form-control">
            </div>
            
            <div class="input-group margin-bottom-20">
                <input type="text" ng-model="address_line2" style="width: 360" placeholder="Address Line2" class="form-control">
            </div>
            
            <div class="input-group margin-bottom-20">
                <input type="number" ng-model="pincode" style="width: 360" placeholder="Pincode" class="form-control">
            </div>
            
            <div class="row" align="center">
                <div class="col-md-6">
                    <button ng-click="doCreateUser()" class="btn-u pull-right" type="submit">Create User</button>
                </div>
            </div>

            <hr>
        </form>
    </div>
</div>