<div class="panel panel-green margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i>Organizations</h3>
    </div>
    <div class="panel-body">
        <p>List of what you selected</p>
        <span class="label label-info pull-right">Add New Organization</span>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Organization Type</th>
            <th>MAX Students</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>



        <tr ng-repeat="org in listOfOrgs">
            <td>{{$index}}</td>
            <td>{{org.name}}</td>
            <td>{{org.orgType}}</td>
            <td>{{org.maxStudents}}</td>
            <td><button class="btn btn-warning btn-xs">
                <i class="fa fa-pencil"></i>Edit</button></td>
        </tr>
        </tbody>
    </table>
</div>